# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
email: philipstevens4@gmail.com
title: Philip Stevens
description: "Production-grade, domain-adapted LLM workflows (spec-driven evals • post-training • release gates)"
url: "https://philipstevens.github.io"
baseurl: ""
masthead_title: "PCS"
github_username: philipstevens
minimal_mistakes_skin: default
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 10 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - .git
  - .vscode

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-redirect-from

author:
  name   : "Philip Stevens"
  avatar : "/assets/images/bio-photo.jpg"
  bio: "<b>Foundation Model<br>Engineer</b><br><i>Prodction-grade<br>domain-adapted<br>LLM workflows.<br>Made reliable.</i>"
  links:
  - label: "Book intro call"
    icon: "fas fa-fw fa-calendar"
    url: "https://calendly.com/philipstevens4/intro"

  - label: "Email"
    icon: "fas fa-fw fa-envelope"
    url: "mailto:philipstevens4@gmail.com"

  - label: "LinkedIn"
    icon: "fab fa-fw fa-linkedin"
    url: "https://www.linkedin.com/in/philip-charles-stevens"

  - label: "GitHub"
    icon: "fab fa-fw fa-github"
    url: "https://github.com/philipstevens"

  - label: "CV"
    icon: "fas fa-fw fa-file-alt"
    url: "/cv/"

atom_feed:
  hide: true

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: https://github.com/philipstevens   
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: https://www.linkedin.com/in/philip-charles-stevens/
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:philipstevens4@gmail.com"
    

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: true
      related: true

  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

  - scope:
      path: ""
      type: library
    values:
      layout: single
      classes: wide
      author_profile: true
      toc: true
      share: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

collections:
  library:
    output: true
    permalink: /library/:path/
  
